.minesweeper-board {
	@apply relative flex flex-col justify-center items-center gap-4 mb-4
	p-4;
}

/* prettier-ignore */
.minesweeper-easy, .minesweeper-medium, .minesweeper-hard {
	@apply grid gap-[1px] max-w-full;
}

.minesweeper-easy {
	@apply grid-cols-8 w-[25rem];
}

.minesweeper-medium {
	@apply grid-cols-10 w-[30rem];
}

.minesweeper-hard {
	@apply grid-cols-12 w-[35rem];
}

/* prettier-ignore */
.minesIcon-none, .minesIcon-flag, .minesIcon-bomb,
.minesIcon-0, .minesIcon-1, .minesIcon-2, .minesIcon-3,
.minesIcon-4, .minesIcon-5, .minesIcon-6, .minesIcon-6,
.minesIcon-7, .minesIcon-8 {
	@apply aspect-square flex justify-center items-center
	font-bold text-white rounded;
}

.minesIcon-bomb {
	@apply bg-orange-700 text-yellow-300;
}

.minesIcon-flag {
	@apply bg-green-800/80 text-yellow-400;
}

/* prettier-ignore */
.minesIcon-none { @apply bg-green-800; }
/* prettier-ignore */
.minesIcon-0 { @apply bg-teal-800/80;}
/* prettier-ignore */
.minesIcon-1 { @apply bg-teal-700; }
/* prettier-ignore */
.minesIcon-2 { @apply bg-emerald-600; }
/* prettier-ignore */
.minesIcon-3 { @apply bg-green-600; }
/* prettier-ignore */
.minesIcon-4 { @apply bg-lime-600; }
/* prettier-ignore */
.minesIcon-5 { @apply bg-yellow-500; }
/* prettier-ignore */
.minesIcon-6 { @apply bg-amber-600; }
/* prettier-ignore */
.minesIcon-7 { @apply bg-orange-600; }
/* prettier-ignore */
.minesIcon-8 { @apply bg-red-700; }

.minesweeper_menu {
	@apply flex flex-col sm:flex-row justify-between
	sm:items-center py-4 px-6 gap-2 bg-green-900/80
	text-white sm:text-xl rounded-md max-w-full;
}

.minesweeper-easy ~ .minesweeper_menu {
	@apply w-[25rem];
}

.minesweeper-medium ~ .minesweeper_menu {
	@apply w-[30rem];
}

.minesweeper-hard ~ .minesweeper_menu {
	@apply w-[35rem];
}

.minesweeper-endgame {
	@apply absolute flex flex-col justify-center items-center
	w-full;
}

.minesweeper-endgame div {
	@apply relative flex flex-col items-center gap-2 -mt-10 p-4
	bg-black/10 text-white font-bold rounded-lg border
	border-white/50;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.minesweeper-endgame button {
	@apply flex items-center gap-2 px-4 py-1 text-white
	rounded-md;
}

button.minesweeper-endgame-win {
	@apply bg-green-600;
}

button.minesweeper-endgame-lose {
	@apply bg-red-600;
}

.minesweeper-endgame svg {
	@apply fill-white;
}

.minesweeper-menu-level {
	@apply flex gap-1 items-center bg-transparent;
}

.minesweeper-rules {
	@apply px-6 py-4 gap-2 bg-orange-900/80 text-white
	rounded-md max-w-full;
}

.minesweeper-rules h3 {
	@apply font-bold text-xl;
}

.minesweeper-rules ul {
	@apply list-inside list-disc;
}
